@{
    ViewBag.Title = "AjaxExemplo";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>


<h2>Ajax Demo</h2>
<div id="div1">
</div>

<input type="button" name="Botao" id="Botao" value="Ajax Exemplo" />
<br /><br />
<input type="text" name="Nome" id="Nome" value="" />

<input type="button" name="Add" id="Add" value="Add" />

<script>
    $("#Botao").click(function () {
        $.ajax(
        {
            url: "",
            success: function(result) {
                $.each(result, function (index, value) {
                    $("#div1").append("<ul id=\"lista\"></ul>");
                    $("#lista").append("<li>" + value.Nome + "</li>");
                });
            }
        });
    });
    $("#Add").click(function () {

        var produto = {
            Nome:  $("#Nome").val(),
            Valor: 3.22
        };

        $.ajax({
            type: "POST",
            url: "",
            data: produto,
            dataType: "json",
            success: function (msg) {
                alert("inserido");
            }
        });
    });
</script>
